@import "tailwindcss";

@theme {
    --color-fire: #f42;
    --color-grass: #7c5;
    --color-electric: #fc3;
    --color-water: #39f;
    --color-ground: #db5;
    --color-rock: #ba6;
    --color-poison: #a59;
    --color-bug: #ab2;
    --color-dragon: #76e;
    --color-psychic: #f59;
    --color-flying: #89f;
    --color-fighting: #b54;
    --color-normal: #aa9;
    --color-ice: #6cf;
    --color-ghost: #66b;
    --color-steel: #aab;
    --color-dark: #754;
    --color-fairy: #e9e;
}

@layer base {
    a:focus,
    button:focus,
    img:focus,
    input:focus,
    svg:focus,
    a:focus-visible,
    button:focus-visible,
    img:focus-visible,
    input:focus-visible,
    svg:focus-visible {
        outline: 2px solid var(--color-sky-500);
    }

    a.active svg {
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 2px;
        border-color: var(--color-sky-500);
    }

    .pokemonCard:focus,
    .pokemonCard:focus-visible {
        outline: none;
    }
}

@utility disabled-component {
    cursor: not-allowed;
    background-color: var(--color-gray-100);
    border-color: var(--color-gray-300);
}

.react-aria-Tooltip {
    transform: translate3d(0, 0, 0);
    transition:
        transform 200ms,
        opacity 200ms;

    &[data-entering],
    &[data-exiting] {
        transform: var(--origin);
        opacity: 0;
    }

    &[data-placement="top"] {
        margin-bottom: 8px;
        --origin: translateY(4px);
    }

    &[data-placement="bottom"] {
        margin-top: 8px;
        --origin: translateY(-4px);
    }

    &[data-placement="right"] {
        margin-left: 8px;
        --origin: translateX(-4px);
    }

    &[data-placement="left"] {
        margin-right: 8px;
        --origin: translateX(4px);
    }
}
